.banner
    background: url('../img/banner-bg.jpg') center/cover no-repeat
    &__inner
        min-height: 100vh
        padding-top: 16px
        padding-bottom: 82px
        display: flex
        flex-direction: column
        justify-content: space-between
    &__form
        width: 100%
        @include blur
        padding: 40px
        border-radius: 10px
        display: flex
        align-items: start
        justify-content: space-between
        gap: 24px
    &__info
        @include flex-column-center(40px)
        align-items: start

.header
    display: grid
    grid-template-columns: auto 1fr auto
    gap: 50px
    align-items: center
    &__list-row
        column-gap: 24px
    &__nav
        justify-self: end
    &__link
        padding-block: 6px
    &__button-transparent
        color: var(--color-lite)
        @include hover
            color: var(--color-accent-alternate)

.mobile-menu
    background-color: var(--color-accent)
    min-height: 100vh
    width: 100%
    max-width: 100%
    border: none
    padding: 16px
    &__close-button
        display: flex
        justify-self: end
    &__list-column
        row-gap: 8px
    &__link
        width: 100%
        padding-block: 8px

.form-item
    @include flex-column-center(8px)
    align-items: start

.input
    $bdRadiusAndMarginLeft: 8px

    color: var(--color-lite-alternate)
    font-size: 16px
    font-weight: 700
    padding: 14px 16px
    background-color: transparent
    border: 1px solid var(--color-lite-alternate)
    border-radius: $bdRadiusAndMarginLeft
    width: 238px
    outline: none
    & > option
        color: var(--color-dark-alternate)
    &[type='date']::-webkit-calendar-picker-indicator
        filter: invert(1)
    &::placeholder
        color: var(--color-lite-alternate)
    &:focus
        border-color: var(--color-accent-alternate)
    &__description
        color: var(--color-lite-alternate)
        font-size: 14px
        font-weight: 400
        margin-left: $bdRadiusAndMarginLeft

.media-box
    --indent-ads: 130px

    position: relative
    padding-bottom: var(--indent-ads)
    &__item
        width: 350px
        border-radius: 24px
        &_pos-top
            position: absolute
            top: var(--indent-ads)
            left: var(--indent-ads)

.video-wrapper
    position: relative

.play-button
    position: absolute
    @include abs-center

    @include flex-row-center

    width: 50px
    aspect-ratio: 1
    background-color: var(--color-lite-opacity-60)
    border-radius: 50%
    border: none

.best-program

    --borderRadius: 50px

    &__list-column
        @include flex-column-center(40px)
        align-items: start
    &__list-item
        display: flex
        align-items: center
        gap: 16px
        & > img
            width: 50px
    &__img-box
        display: grid
        grid-template-columns: repeat(2, 250px)
        gap: 10px
    &__img
        &_top-left
            border-top-right-radius: var(--borderRadius)
            border-bottom-left-radius: var(--borderRadius)
        &_top-right
            border-top-left-radius: var(--borderRadius)
            border-bottom-right-radius: var(--borderRadius)
        &_bottom-left
            border-top-left-radius: var(--borderRadius)
            border-bottom-right-radius: var(--borderRadius)
        &_bottom-right
            border-top-right-radius: var(--borderRadius)
            border-bottom-left-radius: var(--borderRadius)

.card-box
    @include flex-row-center(20px)

.card
    border-radius: 32px
    color: var(--color-lite-alternate)
    position: relative
    z-index: 1
    overflow: hidden
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    &_1
        background-image: url('../img/sea-in-background-mountains.jpg')
    &_2
        background-image: url('../img/stars-and-mountains.jpg')
    &_3
        background-image: url('../img/woman-on-the-background-of-mountains.jpg')

    &::after
        content: '4.9'
        color: var(--color-accent)
        font-size: 14px
        font-weight: 700
        line-height: 1.28
        text-align: right

        display: block
        width: 50px
        height: 24px
        padding: 4px 8px
        border-radius: 4px 0 0 4px
        background-color: var(--color-lite-opacity-40)
        backdrop-filter: blur(2px)

        background-image: url(../img/ico/star.svg)
        background-repeat: no-repeat
        background-size: 24%
        background-position: 7px center

        position: absolute
        right: 0
        top: 50px
        z-index: -1
    &__body
        @include blur
        max-width: 380px
        min-height: 500px
        padding: 30px 32px 20px
        display: grid
        grid-template-rows: repeat(2, auto) 1fr
        gap: 38px
        justify-items: start

        translate: 0 80%
        transition: translate .5s

    &:hover &__body
        translate: 0 0

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
    &__price
        font-weight: 700
        line-height: 1.2
        font-size: 20px
        padding: 8px 16px
        border-radius: 4px
        background-color: var(--color-lite-opacity-30)
    &__text
        font-size: 16px
        font-weight: 400
    &__button
        align-self: end
